{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
  <hr>
  <h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
  <hr>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}

    <button class="btn btn-black rounded-0" type="submit" name="action">
      {% trans "Change Password" %}
    </button>
  </form>

  <p class="mt-3">
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>

  <a class="btn btn-outline-black rounded-0 mt-3" href="{% url 'home' %}">Home</a>
{% endblock %}
