{% load static %}

<div class="col-12 col-sm-3">
    {% if item.product.image %}
        <img class="img-fluid rounded"
             src="{{ item.product.image.url }}"
             alt="{{ item.product.name }}"
             style="border-radius: 14px; border: 1px solid var(--dd-border);">
    {% else %}
        <img class="img-fluid rounded"
             src="{% static 'images/noimage.png' %}"
             alt="{{ item.product.name }}"
             style="border-radius: 14px; border: 1px solid var(--dd-border);">
    {% endif %}
</div>
